body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 150vh;
    background: rgb(10, 38, 71);
    background: linear-gradient(180deg, rgba(10, 38, 71, 1) 0%, rgba(18, 78, 140, 0.9) 100%);
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
      padding-right: 80px;
}

.logo {
    gap: 10px;
    width: 20vw;
    height: 8vh;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #0A2647;
}

.logo p {
    font-size: 16px;
}

.logo p span {
    color: #FF9900;
}

.header img {
    width: 40px;
}

ul {
    display: flex;
    gap: 40px;
   
}

ul li {
    list-style: none;
    display: flex;
}

.sosmed a {
    color: white;
    opacity: 0.8;
    font-size: 40px
}

.content {
    padding: 0px 30px 30px 30px;
    display: flex;
    gap: 2vw;
}

.content .left {
    width: 60%;
    line-height: 5px;
}

.content .left .top p:first-child {
    font-size: 100px;
    color: white;
    font-weight: 900;
}

.content .left .top p:last-child {
    font-size: 60px;
    color: white;
    font-weight: 900;
    word-spacing: 10px;
}

.content .left .top p:last-child span {
    color: #FF9900;
}

.content .leftafter {
    width: 60%;
    line-height: 5px;
}

.content .leftafter,
.top p:first-child {
    font-size: 100px;
    color: white;
    font-weight: 900;

}

.content .leftafter,
.top p:last-child {
    font-size: 60px;
    color: white;
    font-weight: 900;
    word-spacing: 10px;
}

.content .leftafter,
.top p:last-child span {
    color: #FF9900;
}

.leftafter {
    display: none;
    margin-top: 30px;
}

.back1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: #1441726d;

}

.back2 {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color: #124f8c94;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back2 img {
    margin-top: -5vh;
    width: 40vw;
}

.time {
    display: flex;
    gap: 20px;
}

.hari,
.jam,
.menit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    height: 200px;
    background-color: #0A2647;
    border-radius: 20px;
}

.time p:last-child {
    font-size: 76px;
    color: white;
    font-weight: 900;
    word-spacing: 10px;
}

.time p:first-child {
    font-size: 20px;
    color: white;
    font-weight: 700;
    word-spacing: 10px;
}

.bottom {
    padding-left: 5px;
}

.bottom p {
    word-spacing: 3px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.8;
    margin-bottom: 25px;
}


.search {
    padding: 12px 20px;
    width: 35vw;
    border-radius: 15px;
    font-size: 18px;
}


.search-wrapper input {
    margin-right: -15px;
    border: 0.5px solid rgba(0, 0, 0, 0.418);
    font-weight: 700;
}

.search-wrapper button {
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #FF9900;
    font-weight: 800;
    color: white;
    border: transparent;
}

@media screen and (max-width: 720px) {
    /* body {
        overflow-y: hidden;
        overflow-x: hidden; */
    /* } */

    .header {
        display: block;
        margin-top: 20px;
    }

    .container {
        width: 160vw;
        height: 180vh;
        background: rgb(10, 38, 71);
        background: linear-gradient(180deg, rgba(10, 38, 71, 1) 0%, rgba(18, 78, 140, 0.9) 100%);
        padding: 30px;
    }

    .logo {
        gap: 15px;
        width: 100vw;
        height: 10vh;
        position: relative;
        margin: auto;
    }

    .logo p {
        font-size: 25px;
    }

    .sosmed {

        width: 137vw;
        position: absolute;
        top: 165vh;
        background-color: #0A2647;
        left: 0px;
        padding-left: 40vw;
    }

    .content .left {
        position: relative;
        top: 75vh;
        width: 100%;
    }

    .content {
        display: block;

    }

    .content .left .top p:first-child {
        font-size: 18vw;
    }

    .content .left .top p:last-child {
        font-size: 14vw;
        color: white;
        font-weight: 900;
        word-spacing: 10px;
    }

    .right {
        position: absolute;
        left: 20vw;
        top: 25vh;
    }

    .back1 {
        width: 125vw;
        height: 125vw;
    }

    .back2 {
        width: 100vw;
        height: 100vw;
    }

    .back2 img {
        width: 110vw;
    }

    .content .leftafter {
        width: 105%;
        position: relative;
        top: 75vh;
    }

    .content .leftafter,
    .top p:first-child {
        font-size: 18vw;
        margin-top: 0px;
    }
    .content .leftafter,
    .top p:last-child {
        font-size: 14vw;

    }

    .bottom{
        margin-top: 80px;
    }
    .search {
        padding: 20px;
        width: 110vw;
        border-radius: 30px;
        font-size: 18px;
    }

    .search-wrapper button {
        padding: 15px;
        border-radius: 25px;
    }
}
